<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v2.0.50727"/></startup>
 <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFileTransferService" closeTimeout="00:05:00" openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
					<readerQuotas maxArrayLength="2147483647"/>
                    <security mode="None"/>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8020/FileTransferService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileTransferService" contract="IFileTransferService" name="BasicHttpBinding_IFileTransferService"/>
        </client>
    </system.serviceModel>
</configuration>
